MNEMONIC=create afford same galaxy student fog motion honey globe effort mouse rhythm kim accuse agree ladder autumn almost undo media shrimp pass neutral cute
PREFIX=shido
RPC_ENDPOINT="https://rpc-delta-tendermint.shidoscan.com"
DENOM=shido
USDC_DENOM=ibc/BFAAB7870A9AAABF64A7366DAAA0B8E5065EAA1FCE762F45677DC24BE796EF65
CONTRACT_ADDRESS=0x80b5a32E4F032B2a058b4F29EC95EEfEEB87aDcd
AMOUNT=1000000
RECEIVER=shido1q7kyjr32atcrhg9klymfj4jwkx9ddeash62wmr
SENDER=0x07ac490e2AEAF03BA0B6F93699534eb18a96E7b2
GAS_AMOUNT=6000000000000000000
GAS_PRICE=0.0000001shido
